<div class ="container-fluid">
  <div class="row" style="margin-top: 5px;">
    <div class="col-xs-6">
      <button class="btn btn-link" onclick="window.location='/'">
        <span class="glyphicon glyphicon-home"></span>
      </button>
    </div>
    <div class="col-xs-6 text-right">
      {% if loggedin %}
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user" style="margin-right:5px;"></span> {{username}} <span class="caret" style="margin-left:5px;"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if username == 'admin' %}
              <li><a href="/admin/access">Admin Access</a></li>
              {% else %}
              <li><a style="cursor:pointer" onclick="new_room()">New Room</a></li>
              <li><a style="cursor:pointer" data-toggle="modal" data-target="#rooms-modal">My Rooms</a></li>
            {% endif %}
            <li><a style="cursor:pointer" data-toggle="modal" data-target="#change-password-modal">Change My Password</a></li>
            <li class="divider"></li>
            <li>
              <a style="cursor:pointer" onclick="logout()">
                <div class="row">
                  <div class="col-xs-7">
                    Log Out
                  </div>
                  <div class="col-xs-5 text-right">
                    <span class="glyphicon glyphicon-log-out"></span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      {% else %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#login-modal">Log In</button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
      {% endif %}
    </div>
  </div>
</div>

<script>

  function isAlphaNumeric(str) {
    var code, i, len;

    for (i = 0, len = str.length; i < len; i++) {
      code = str.charCodeAt(i);
      if (!(code > 47 && code < 58) && // numeric (0-9)
          !(code > 64 && code < 91) && // upper alpha (A-Z)
          !(code > 96 && code < 123)) { // lower alpha (a-z)
        return false;
      }
    }
    return true;
  };

</script>


{% if loggedin %}

{% if username != 'admin' %}
<!-- Rooms Modal -->
<div id="rooms-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">My Rooms</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Room Name</th>
            <th>Date Created</th>
            <th>Pods</th>
            <th></th>
          </tr>
        {% for r in rooms %}
          <tr id="{{r.id}}-row">
            <td>{{r.id}}</td>
            <td><a href="/room/{{r.id}}">{{r.name}}</a></td>
            <td>{{r.date}}</td>
            <td id="room-{{r.id}}"></td>
            <script>
              document.getElementById('room-{{r.id}}').innerHTML = {{r.pods|safe}}.length;
            </script>
            <td>
              <div class="text-right">
                <button class="btn btn-link btn-xs" onclick="delete_game('{{r.id}}')">
                  <span class="glyphicon glyphicon-trash text-danger"></span>
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}
        </table>
        <br><br>
        <button class="btn btn-primary" onclick="new_room()">New Room</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

<!-- change password Modal -->
<div id="change-password-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="current-password" type="password" class="form-control change-password" placeholder="current password"/>
        </div>
        <br>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="new-password" type="password" class="form-control change-password" placeholder="new password"/>
        </div>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="confirm-new-password" type="password" class="form-control change-password" placeholder="confirm new password"/>
        </div>
        <br>
        <p id="change-password-error" style="color:red;">&nbsp;</p>
        <button class="btn btn-primary center-block" onclick="change_password()">Change Password</button>
      </div>
    </div>
  </div>
</div>

<script>

    function logout() {
      $.ajax({
        url: '/logout',
        data: {},
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            window.location.href = '/';
          } else {
            console.log(response.error);
          }
        },
        error: function(error) {
          console.log(error.statusText);
        },
      });
    }

    function new_room() {
      $.ajax({
        url: '/new_room',
        data: {},
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            window.location.href = '/room/' + response.room_id;
          } else {
            console.log(response.error);
          }
        },
        error: function(error) {
          console.log(error.statusText);
        },
      });
    }

    function delete_room(room_id) {
      $.ajax({
        url: '/host_access/delete_room',
        data: {'code':room_id},
        type: 'POST',
        cache: false,
        success: function(response) {
          document.getElementById(room_id + '-row').remove();
          if (window.location.href.endsWith(room_id)) {
            window.location.href = '/';
          }
        },
        error: function(error) {
          console.log(error.statusText);
        },
      });
    }

    function change_password() {
      const current_password = document.getElementById('current-password').value;
      const new_password = document.getElementById('new-password').value;
      const confirm_new_password = document.getElementById('confirm-new-password').value;
      if (new_password != confirm_new_password) {
        document.getElementById('change-password-error').innerHTML = 'passwords do not match';
      } else {
        document.getElementById('change-password-error').innerHTML = '&nbsp;';
        $.ajax({
          url: '/change_password',
          data: {
            'password':new_password
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              location.reload(true);
            } else {
              document.getElementById('change-password-error').innerHTML = response.error;
            }
          },
          error: function(error) {
            document.getElementById('change-password-error').innerHTML = error.statusText;
            console.log(error.statusText);
          },
        });
      }
    }

    $(".change-password").on('keyup', function (e) {
      if (e.key === 'Enter' || e.keyCode === 13) {
        change_password();
      }
    });

</script>

{% else %}

<!-- Login Modal -->
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <p>Enter your account login information.</p>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input id="login-username" class="form-control login" placeholder="username"/>
        </div>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="login-password" type="password" class="form-control login" placeholder="password"/>
        </div>
        <br>
        <p id="login-error" style="color:red;">&nbsp;</p>
        <button class="btn btn-primary center-block" onclick="login()">Log In</button>
      </div>
    </div>
  </div>
</div>

<!-- signup Modal -->
<div id="signup-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <p>Create your account.</p>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input id="signup-username" class="form-control signup" placeholder="username"/>
        </div>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="signup-password" type="password" class="form-control signup" placeholder="password"/>
        </div>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="signup-confirm-password" type="password" class="form-control signup" placeholder="confirm password"/>
        </div>
        <br>
        <p id="signup-error" style="color:red;">&nbsp;</p>
        <button class="btn btn-primary center-block" onclick="signup()">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<script>

  function signup() {
    const username = document.getElementById('signup-username').value;
    const password = document.getElementById('signup-password').value;
    const confirm_password = document.getElementById('signup-confirm-password').value;
    if (!isAlphaNumeric(username)) {
      document.getElementById('signup-error').innerHTML = 'username must contain only alphanumeric characters';
    } else if (password != confirm_password) {
      document.getElementById('signup-error').innerHTML = 'passwords do not match';
    } else {
      document.getElementById('signup-error').innerHTML = '&nbsp;';
      $.ajax({
        url: '/signup',
        data: {
          'username':username,
          'password':password
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            login_helper(username, password);
          } else {
            document.getElementById('signup-error').innerHTML = response.error;
          }
        },
        error: function(error) {
          document.getElementById('signup-error').innerHTML = error.statusText;
          console.log(error.statusText);
        },
      });
    }
  }

  function login() {
    const username = document.getElementById('login-username').value;
    const password = document.getElementById('login-password').value;
    login_helper(username, password);
  }

  function login_helper(username, password) {
    $.ajax({
      url: '/login',
      data: {
        'username':username,
        'password':password
      },
      type: 'POST',
      cache: false,
      success: function(response) {
        if (response.success == 'true') {
          location.reload(true);
        } else {
          document.getElementById('login-error').innerHTML = response.error;
        }
      },
      error: function(error) {
        document.getElementById('login-error').innerHTML = error.statusText;
        console.log(error.statusText);
      },
    });
  }

  $(".signup").on('keyup', function (e) {
    if (e.key === 'Enter' || e.keyCode === 13) {
      signup();
    }
  });

  $(".login").on('keyup', function (e) {
    if (e.key === 'Enter' || e.keyCode === 13) {
      login();
    }
  });


</script>


{% endif %}
