<!DOCTYPE html>
<html lang="en">
  <head>
    <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">

    <!-- socketIO -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <!-- do not cache this page -->
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <script src="/static/format_chatstream.js"></script>
    <link rel="stylesheet" href="/static/format_chatstream.css">

    <!-- FileSaver -->
    <script src="/static/ext/FileSaver.js"></script>


    <title>
      Meta Chat Rooms | {{playername}}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap" rel="stylesheet">
    <style>

      .background-fade {
        background-color: #fff;
        background-color: rgba(255,255,255,0.85);
        padding: 5px;
        border-radius: 5px;
        display: table;
      }

      body {
        min-width: 300px;
      }

      .chat {
        width: 100%;
        height: 250px;
        resize: none;
      }

      .recipient {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        border: 0;
        height: 32px;
      }

    </style>

  </head>
  <body>


    <div class="container-fluid">

      <div class="noprint row" style="margin-top: 5px;">
        <div class="col-xs-6">
          <button class="btn btn-xs btn-link" onclick="window.location='/'">
            <span class="glyphicon glyphicon-home"></span>
          </button>
        </div>
        <div class="col-xs-6 text-right">
          {% if pod_name != 'unassigned' %}
          <button type="button" class="btn btn-warning" onclick="leave_pod()">Leave Pod</button>
          {% endif %}
          <button type="button" class="btn btn-danger" onclick="leave_room()">Leave Room</button>
        </div>
      </div>

    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="word-break: break-all" class="background-fade">{{ playername }}<span style="color:grey">@<span id="room-name"></span>/<span id="pod-name"></span></span></h1>
        </div>
      </div>

      <div id="custom-html"></div>

      <!-- room chat -->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-6">
              <h3 class="background-fade" style="margin-top: 0px;">Room Chat</h3>
            </div>
            <div class="col-xs-6">
              <button id="download-room-chat" class="btn btn-warning"
                      style="display:inline-block; float:right; margin-top:2px;">
                Download
                <span class="glyphicon glyphicon-download"></span>
              </button>
            </div>
          </div>
          <div id="room-chat"></div>
          <div class="input-group">
            <input id="room-message" class="form-control" oninput="disable_room_send()" autofocus>
            <span class="input-group-addon" style="padding: 0px;">
              <select id="room-recipient" class="btn recipient" type="button" onchange="this.style.border= this.value == 'everyone' ? '0' : '1px solid red';">
                <option value="everyone" name="everyone" selected>Everyone</option>
                <option value="room-{{room_id}}" name="host">Host</option>
              </select>
            </span>
            <span class="input-group-btn">
              <button id="room-send" class="btn btn-primary" type="button" onclick="room_send()" disabled>
                Send <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <!-- pod chat -->
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-6">
              <h3 class="background-fade" style="margin-top: 0px;">Pod Chat</h3>
            </div>
            <div class="col-xs-6">
              <button id="download-pod-chat" class="btn btn-warning"
                      style="display: inline-block; float:right; margin-top: 2px;">
                Download
                <span class="glyphicon glyphicon-download"></span>
              </button>
            </div>
          </div>
          <div id="pod-chat"></div>
          <div class="input-group">
            <input id="pod-message" class="form-control" oninput="disable_pod_send()" autofocus>
            <span class="input-group-addon" style="padding: 0px;">
              <select id="pod-recipient" class="btn recipient" type="button" onchange="this.style.border= this.value == 'everyone' ? '0' : '1px solid red';">
                <option value="everyone" name="everyone" selected>Everyone</option>
              </select>
            </span>
            <span class="input-group-btn">
              <button id="pod-send" class="btn btn-primary" type="button" onclick="pod_send()" disabled>
                Send <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="background-fade">Pod Members</h3>
          <ul id="player-list" class="background-fade" style="padding-left: 25px"></ul>
        </div>
      </div>
    </div>



    <br><br><br><br><br>



    <script type="text/javascript" charset="utf-8">

      function leave_room() {
        $.ajax({
          url: '/leave_room',
          data: {room_id: '{{room_id}}'},
          type: 'POST',
          cache: false,
          success: function(response) {
            socket.emit('leave room');
            window.location.href="/";
          },
          error: function(error) {
            console.log(error);
          },
        });
      }

      function leave_pod() {
        $.ajax({
          url: '/leave_pod',
          data: {room_id: '{{room_id}}'},
          type: 'POST',
          cache: false,
          success: function(response) {
            socket.emit('leave pod');
            location.reload(true);
          },
          error: function(error) {
            console.log(error);
          },
        });
      }

      function update_room_name() {
        $.ajax({
          url: '/room_access/get_room_name',
          data: {
            'room_id':'{{ room_id }}'
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              document.getElementById('room-name').innerHTML = response.name;
            } else {
              console.log(response);
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      function update_pod_name() {
        $.ajax({
          url: '/room_access/get_pod_name',
          data: {
            'room_id':'{{ room_id }}'
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              document.getElementById('pod-name').innerHTML = response.name;
            } else {
              console.log(response);
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      $("#room-message").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
          room_send();
        }
      });

      function room_send() {
        let message = document.getElementById('room-message').value.trim();
        if (message != "") {
          $.ajax({
            url: '/room_access/room_send',
            data: {
              'room_id':'{{ room_id }}',
              'message':message,
              'sender_id':'pod-{{pod_id}}',
              'sender_name':'{{pod_name}}',
              'recipient_id':document.getElementById('room-recipient').value,
              'recipient_name':$('#room-recipient').find('option:selected').attr("name")
            },
            async:true,
            type: 'POST',
            cache: false,
            success: function(response) {
              document.getElementById('room-message').value = '';
              disable_room_send();
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      }

      function disable_room_send() {
        document.getElementById('room-send').disabled = document.getElementById('room-message').value.trim() == '';
      }

      function update_room_chat() {
        $.ajax({
          url: '/room_access/get_room_chatstream',
          data: {
            'room_id':'{{ room_id }}',
            'id':'pod-{{pod_id}}'
          },
          async: true,
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              document.getElementById('room-chat').innerHTML = "";
              let [chat_box, text] = format_chatstream(
                response.chatstream,
                'pod-{{pod_id}}'
              );
              document.getElementById('room-chat').appendChild(chat_box);
              chat_box.scroll(0,999999);
              const t = text;
              document.getElementById('download-room-chat').onclick = function() {
                SaveAsFile(t, 'Room #{{room_id}} ' + (new Date().toUTCString()) + '.txt')
              }
            } else {
              console.log(response)
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      function update_custom_html() {
        $.ajax({
          url: '/room_access/get_custom_html',
          data: {
            'room_id':'{{ room_id }}'
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              document.getElementById('custom-html').innerHTML = response.custom_html;
            } else {
              console.log(response);
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      $("#pod-message").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
          pod_send();
        }
      });

      function pod_send() {
        let message = document.getElementById('pod-message').value.trim();
        if (message != "") {
          $.ajax({
            url: '/room_access/pod_send',
            data: {
              'room_id':'{{ room_id }}',
              'pod_id':'{{ pod_id }}',
              'message':message,
              'recipient':document.getElementById('pod-recipient').value,
            },
            async: true,
            type: 'POST',
            cache: false,
            success: function(response) {
              document.getElementById('pod-message').value = '';
              disable_pod_send();
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      }

      function update_pod_chat() {
        $.ajax({
          url: '/room_access/get_pod_chatstream',
          data: {
            'room_id':'{{ room_id }}',
            'pod_id':'{{ pod_id }}',
            'id':'{{ playername }}',
          },
          async:true,
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              document.getElementById('pod-chat').innerHTML = "";
              let [chat_box, text] = format_chatstream(response.chatstream, '{{playername}}');
              document.getElementById('pod-chat').appendChild(chat_box);
              chat_box.scroll(0,999999);
              const t = text;
              document.getElementById('download-pod-chat').onclick = function() {
                SaveAsFile(t, 'Pod #{{pod_id}} ' + (new Date().toUTCString()) + '.txt')
              }
            } else {
              console.log(response)
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      function disable_pod_send() {
        document.getElementById('pod-send').disabled = document.getElementById('pod-message').value.trim() == '';
      }

      function update_pods() {
        $.ajax({
          url: '/room_access/get_pod_dict',
          data: {
            'room_id':'{{ room_id }}'
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              // send modes
              document.getElementById('room-recipient').innerHTML = '<option value="everyone" name="everyone" selected>Everyone</option><option value="room-{{room_id}}" name="host">Host</option>';
              for (let pod_id in response.pods.dict) {
                if (pod_id != '{{pod_id}}') {
                  let option = document.createElement('option');
                  option.value = 'pod-' + pod_id;
                  option.innerHTML = response.pods.dict[pod_id].name;
                  option.setAttribute('name', response.pods.dict[pod_id].name);
                  document.getElementById('room-recipient').appendChild(option);
                }
              }
            } else {
              console.log(response);
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      function update_players() {
        $.ajax({
          url: '/room_access/get_players',
          data: {
            'room_id':'{{ room_id }}',
            'pod_id':'{{ pod_id }}',
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              document.getElementById('player-list').innerHTML = "";
              document.getElementById('pod-recipient').innerHTML = '<option value="everyone" name="everyone" selected>Everyone</option>';
              for (let playername of response.players) {
                let li = document.createElement('li');
                li.innerHTML = playername;
                document.getElementById('player-list').appendChild(li);
                // send options
                if (playername != '{{playername}}') {
                  let option = document.createElement('option');
                  option.value = playername;
                  option.innerHTML = playername;
                  document.getElementById('pod-recipient').appendChild(option);
                }
              }
            } else {
              console.log(response);
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }


      $(document).ready(function() {
        update_room_name();
        update_pod_name();
        update_room_chat();
        update_pods();
        update_pod_chat();
        update_custom_html();
        update_players();
      });


      var socket = io({transports: ['websocket']});

      socket.on('connect', function() {
        console.log('connected to socketIO');
      });

      // join room and pod
      socket.emit('join room', {room_id:'{{room_id}}'});
      socket.emit('join pod', {pod_id:'{{pod_id}}'});

      // reload
      socket.on('reload', function(msg) {
        if (msg.players.includes('{{playername}}')) {
          location.reload(true);
        }
      });

      // redirect
      socket.on('redirect', function(msg) {
        if (msg.player == '{{playername}}') {
          window.location.href = msg.link;
        }
      });


      // changes to room name
      socket.on('update room name', function(msg) {
        update_room_name();
      });

      // changes to pod name
      socket.on('update pod name', function(msg) {
        update_pod_name();
      });

      // changes to room chat
      socket.on('update room chat', function(msg) {
        update_room_chat();
      });

      // changes to pod
      socket.on('update pods', function(msg) {
        update_pods();
      });

      // changes to pod chat
      socket.on('update pod chat', function(msg) {
        update_pod_chat();
      });

      // changes to custom html
      socket.on('update custom_html', function(msg) {
        update_custom_html();
      });

      // changes to players
      socket.on('update players', function(msg) {
        update_players();
      });

    </script>

  </body>


</html>
