<!DOCTYPE html>
<html lang="en">
  <head>
    <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">

    <!-- socketIO -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <!-- do not cache this page -->
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <!-- qrcode -->
    <!-- from https://github.com/davidshimjs/qrcodejs with the MIT license -->
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>

    <!-- codemirror -->
    <!-- <script src='/static/ext/codemirror/lib/codemirror.js'></script>
    <link rel="stylesheet" href="/static/ext/codemirror/lib/codemirror.css"> -->

    <!-- FileSaver -->
    <script src="/static/ext/FileSaver.js"></script>


    <script src="/static/format_chatstream.js"></script>
    <link rel="stylesheet" href="/static/format_chatstream.css">

    <title>
      Meta Chat Rooms | Room {{room_id}}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap" rel="stylesheet">
    <style>

      .background-fade {
        background-color: #fff;
        background-color: rgba(255,255,255,0.85);
        padding: 5px;
        border-radius: 5px;
        display: table;
      }

      body {
        min-width: 360px;
        margin-bottom: 100px
      }

      * {
        font-family: 'Ubuntu', sans-serif;
      }

      br {
        user-select: none;
      }

      /* switch */
      .material-switch > input[type="checkbox"] {
        display: none;
      }

      .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
      }

      .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position:absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
      }

      .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
      }

      .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
      }

      .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
      }

      .pod-heading {
        padding-right: 0px;
      }

      .pod-input {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
      }

      .pod-addon {
        background-color: transparent;
        border: 0px;
      }

      .trash-btn {
        font-size:8pt;
        color: #d43f3a;
        float: right;
        right: 0px;
        z-index:2;
        position: absolute;
        display:block;
        margin-right: 16px;
        margin-top: -10px;
        padding: 0px;
      }

      .trash-btn:hover {
        color: #c9302c;
      }

      .pod-list {
        margin: 0px;
        border-radius: 0px 0px 3px 3px;
        margin-right: -1px;
        margin-left: -1px;
      }

      .pod-list li:first-child {
        margin-top: -1px;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
      }

      .pod-list:last-child:last-child {
        margin-bottom: -1px;
      }

      .pod-body {
        padding: 0px;
      }


      .CodeMirror {
        height: 100%;
        border: 1px solid #ccc;
      }

      .code-div.focused .CodeMirror {
        border: 1px solid #02b1fc;
      }

      .recipient {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        border: 0;
        height: 32px;
      }

    </style>
  </head>
  <body>

    {{ account_bar|safe }}


    <div class="container">

      <!-- name title -->
      <div class="row" style="margin-bottom: 30px">
        <div class="col-md-12">
          <h1 class="background-fade">Room #{{room_id}}
            <button class="btn btn-info input-group-button" data-toggle="modal" data-target="#join-modal">
              Share <span class="glyphicon glyphicon-share"></span>
            </button>
            <input id="name" value="{{room_name}}" placeholder="Room Name" oninput="this.value=alphanum_only(this.value)" onchange="change_room_name()" style="display: block; margin-top:10px;"></input>
          </h1>

          <div class="material-switch background-fade">
            <input id="allow-join" name="allow-join" type="checkbox" onclick='set_open(this.checked ? "1" : "0")'/>
            <label for="allow-join" class="label-info"></label>
            <p id="room-state" style="user-select: none; margin-bottom: 0px;">Room {% if open %} open {% else %} closed {% endif %}</p>
          </div>
        </div>
      </div>

      <!-- join modal -->
      <div id="join-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Join Room</h4>
            </div>
            <div id="qrcode" class="center-block" style="border: 1px solid black; width: 300px; height: 300px; margin-top: 10px;"></div>
            <div class="modal-body">
              <div class="input-group" style="margin-top:10px;">
                <input id="join-link" class="form-control" onclick="this.select();" readonly></input>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" onclick="copy_link('join-link')">
                    <span class="glyphicon glyphicon-copy"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">

      <!-- chat -->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-6">
              <h3 class="background-fade" style="margin-top: 0px;">Chat</h3>
            </div>
            <div class="col-xs-6">
              <button id="download-chat" class="btn btn-warning"
                      style="display: inline-block; float:right; margin-top: 2px;">
                Download
                <span class="glyphicon glyphicon-download"></span>
              </button>
            </div>
          </div>
          <div id="chat"></div>
          <div class="input-group">
            <input id="message" class="form-control" oninput="disable()" style="overflow-wrap: break-word" autofocus>
            <span class="input-group-addon" style="padding: 0px;">
              <select id="recipient" class="btn recipient" type="button" onchange="this.style.border= this.value == 'everyone' ? '0' : '1px solid red';">
                <option value="everyone" name="everyone" selected>Everyone</option>
              </select>
            </span>
            <span class="input-group-btn">
              <button id="send" class="btn btn-primary" type="button" onclick="send()" disabled>
                Send <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <!-- Pods -->
      <div class="row" style="margin-top:50px">
        <div class="col-md-12">
          <h3 class="background-fade">
            Pods
            <button onclick="new_pod()" style="padding: 0 0 0 5px" class="btn btn-link">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </h3>
          <div id="pods" class="row"></div>
        </div>
      </div>


      <!-- custom HTML -->
      <!-- <div class="row" style="margin-top:50px">
        <div class="col-md-12">
          <h3 class="background-fade">Custom HTML</h3>
          <div id="custom-html"></div>
        </div>
      </div>
      <div class="row">
        <div id="custom-html-output" class="col-md-12"></div>
      </div> -->


    </div>


  </body>


  <script>

    function alphanum_only(s) {
      return s.split('').filter(x => "1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM ".includes(x)).join('');
    }

    function disable() {
      document.getElementById('send').disabled = document.getElementById('message').value.trim() == '';
    }

    $("#message").on('keyup', function (e) {
      if (e.key === 'Enter' || e.keyCode === 13) {
        send();
      }
    });

    document.getElementById('join-link').value = window.location.origin + "/join/{{room_id}}";

    function copy_link(id) {
      document.getElementById(id).select();
      document.execCommand("copy");
    }

    var qrcode = new QRCode(document.getElementById("qrcode"), {
      text: window.location.origin + "/join/{{room_id}}",
      width: 298,
      height: 298,
      colorDark : "#000000",
      colorLight : "#ffffff",
      correctLevel : QRCode.CorrectLevel.H
    });

    function remove_player(player) {
      $.ajax({
        url: '/host_access/remove_player',
        data: {
          'room_id':'{{ room_id }}',
          'player':player
        },
        async:true,
        type: 'POST',
        cache: false,
        success: function(response) {
          update_pods();
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function set_open(open) {
      $.ajax({
        url: '/host_access/set_open',
        data: {
          'room_id':'{{ room_id }}',
          'open':open
        },
        async:true,
        type: 'POST',
        cache: false,
        success: function(response) {},
        error: function(error){
          console.log(error);
        }
      });
    }

    function send() {
      let message = document.getElementById('message').value.trim();
      if (message != "") {
        $.ajax({
          url: '/room_access/room_send',
          data: {
            'room_id':'{{ room_id }}',
            'message':message,
            'sender_id':'room-{{room_id}}',
            'sender_name':'host ({{username}})',
            'recipient_id':document.getElementById('recipient').value,
            'recipient_name':$('#recipient').find('option:selected').attr("name")
          },
          async:true,
          type: 'POST',
          cache: false,
          success: function(response) {
            document.getElementById('message').value = '';
            disable();
          },
          error: function(error){
            console.log(error);
          }
        });
      }
    }

    function update_chat() {
      $.ajax({
        url: '/room_access/get_room_chatstream',
        data: {
          'room_id':'{{ room_id }}',
          'id':'room-{{room_id}}'
        },
        async:true,
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            document.getElementById('chat').innerHTML = "";
            let [chat_box, text] = format_chatstream(
              response.chatstream,
              'room-{{room_id}}' // sender_id
            );
            document.getElementById('chat').appendChild(chat_box);
            chat_box.scroll(0,999999);
            const t = text;
            document.getElementById('download-chat').onclick = function() {
              SaveAsFile(t, 'Room #{{room_id}} ' + (new Date().toUTCString()) + '.txt')
            }
          } else {
            console.log(response)
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function update_open() {
      $.ajax({
        url: '/host_access/get_open',
        data: {
          'room_id':'{{ room_id }}'
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            document.getElementById('allow-join').checked = response.open;
            document.getElementById('room-state').innerHTML = "Room " + (response.open ? "open" : "closed");
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function change_room_name() {
      $.ajax({
        url: '/host_access/change_room_name',
        data: {
          'room_id':'{{ room_id }}',
          'name':document.getElementById('name').value
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'false') {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function update_room_name() {
      $.ajax({
        url: '/room_access/get_room_name',
        data: {
          'room_id':'{{ room_id }}'
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            document.getElementById('name').value = response.name;
          } else {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }



    function change_custom_html() {
      $.ajax({
        url: '/host_access/change_custom_html',
        data: {
          'room_id':'{{ room_id }}',
          'custom_html':cm.getValue()
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'false') {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function update_custom_html() {
      $.ajax({
        url: '/room_access/get_custom_html',
        data: {
          'room_id':'{{ room_id }}'
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            cm.setValue(response.custom_html);
            document.getElementById('custom-html-output').innerHTML = response.custom_html;
          } else {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function change_pod_name(pod_id, pod_name) {
      $.ajax({
        url: '/host_access/change_pod_name',
        data: {
          'room_id':'{{ room_id }}',
          'pod_id':pod_id,
          'pod_name':pod_name
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'false') {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function update_pods() {
      $.ajax({
        url: '/room_access/get_pod_dict',
        data: {
          'room_id':'{{ room_id }}'
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            document.getElementById('pods').innerHTML = "";
            // pod blocks
            for (let pod_id in response.pods.dict) {
              let col = document.createElement('div'); col.classList.add('col-sm-4');
              let panel = document.createElement('div'); panel.classList.add('panel', 'panel-default');
              let panel_heading = document.createElement('div'); panel_heading.classList.add('panel-heading', 'pod-heading');
              const POD_ID = pod_id;
              let input_group = document.createElement('div'); input_group.classList.add('input-group');
              let input = document.createElement('input'); input.classList.add('form-control', 'pod-input');
              input.value = response.pods.dict[pod_id].name;
              input.onchange = function() {change_pod_name(POD_ID, this.value)};
              input.oninput = function() {this.value = alphanum_only(this.value)};
              input.disabled = (pod_id == response.pods.unassigned_id);
              input.placeholder = "Pod Name";
              let addon = document.createElement('span'); addon.classList.add('input-group-addon', 'pod-addon');
              let panel_body = document.createElement('div'); panel_body.classList.add('panel-body', 'pod-body');
              let ul = document.createElement('ul'); ul.classList.add('list-group', 'pod-list');

              if (pod_id != response.pods.unassigned_id) {
                let trash_btn = document.createElement('button'); trash_btn.classList.add('btn', 'btn-xs', 'btn-link', 'trash-btn');
                trash_btn.onclick = function() {delete_pod(POD_ID)};
                let trash = document.createElement('span'); trash.classList.add('glyphicon', 'glyphicon-trash');

                panel_heading.appendChild(trash_btn);
                trash_btn.appendChild(trash);
              }

              document.getElementById('pods').appendChild(col);
              col.appendChild(panel);
                panel.appendChild(panel_heading);
                  panel_heading.appendChild(input_group);
                    input_group.appendChild(input);
                    input_group.appendChild(addon);
                      addon.appendChild(document.createTextNode("(pod #" + pod_id + ")"))
                panel.appendChild(panel_body);
                  panel_body.appendChild(ul);

              for (let playername of response.pods.dict[pod_id].players) {
                let li = document.createElement('li'); li.classList.add('list-group-item');
                li.appendChild(document.createTextNode(playername));

                let select = document.createElement('select');
                select.style.float = "right";
                let move = document.createElement('option');
                move.innerHTML = 'move to...';
                select.appendChild(move);
                for (let pid in response.pods.dict) {
                  if (pod_id != pid) {
                    let option = document.createElement('option');
                    option.value = pid;
                    option.innerHTML = response.pods.dict[pid].name + " (#" + pid + ")"
                    select.appendChild(option);
                  }
                }
                let remove_option = document.createElement('option');
                remove_option.innerHTML = '--REMOVE--';
                remove_option.value = "remove";
                select.appendChild(remove_option);
                const pname = playername;
                select.onchange = function() {
                  if (this.value == "remove") {
                    remove_player(pname, POD_ID);
                  } else {
                    move_player(pname, POD_ID, this.value);
                  }
                }
                li.appendChild(select);

                ul.appendChild(li);
              }
            }
            // send modes
            document.getElementById('recipient').innerHTML = '<option value="everyone" name="everyone" selected>Everyone</option>';
            for (let pod_id in response.pods.dict) {
              let option = document.createElement('option');
              option.value = 'pod-' + pod_id;
              option.innerHTML = response.pods.dict[pod_id].name;
              option.setAttribute('name', response.pods.dict[pod_id].name);
              document.getElementById('recipient').appendChild(option);
            }
          } else {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function new_pod() {
      $.ajax({
        url: '/host_access/new_pod',
        data: {
          'room_id':'{{ room_id }}',
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'false') {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function move_player(playername, old_pod_id, pod_id) {
      $.ajax({
        url: '/host_access/move_player',
        data: {
          'room_id':'{{ room_id }}',
          'playername':playername,
          'old_pod_id':old_pod_id,
          'pod_id':pod_id
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'false') {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function delete_pod(pod_id) {
      $.ajax({
        url: '/host_access/delete_pod',
        data: {
          'room_id':'{{ room_id }}',
          'pod_id':pod_id
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'false') {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }

    function remove_player(playername, pod_id) {
      $.ajax({
        url: '/host_access/remove_player',
        data: {
          'room_id':'{{ room_id }}',
          'pod_id': pod_id,
          'playername':playername
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'false') {
            console.log(response);
          }
        },
        error: function(error){
          console.log(error);
        }
      });
    }


    var cm;
    var textarea;
    var last;


    $(window).on('load', function(){
      // textarea = document.getElementById('custom-html');
      // cm = CodeMirror(function(elt) {
      //     textarea.parentNode.replaceChild(elt, textarea);
      //   }, {
      //     value: "",
      //     mode: "html",
      //     lineNumbers: true,
      //     tabSize: 4,
      //     autofocus: false
      //   }
      // );
      // last = "";
      // cm._handlers = {
      //   blur: [
      //     function() {
      //       if (last != cm.getValue()) {
      //         last = cm.getValue();
      //         change_custom_html();
      //       }
      //     }
      //   ],
      //   change: [
      //     function() {
      //       if (cm.getValue() == "") {
      //         last = cm.getValue();
      //         change_custom_html();
      //       }
      //     }
      //   ]
      // }

      update_chat();
      update_room_name();
      update_open();
      // update_custom_html();
      update_pods();
    })


    var socket = io({transports: ['websocket']});



    socket.on('connect', function() {
      console.log('connected to socketIO');
    });

    // join room
    socket.emit('join room', {room_id:'{{room_id}}'});

    // reload
    socket.on('reload', function(msg) {
      location.reload(true);
    });

    // changes to chat
    socket.on('update room chat', function(msg) {
      update_chat();
    });

    // changes to name
    socket.on('update room name', function(msg) {
      update_room_name();
    });

    // changes to changes to open
    socket.on('update open', function(msg) {
      update_open();
    });

    // changes to pods (players)
    // socket.on('update custom_html', function(msg) {
    //   update_custom_html();
    // });

    // changes to pods (players)
    socket.on('update pods', function(msg) {
      update_pods();
    });

  </script>

</html>
